--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'PENDING',
    'PAID',
    'UNPAID',
    'CANCELLED',
    'FAILED'
);


--
-- Name: PermissionType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PermissionType" AS ENUM (
    'MANAGE_MENU',
    'MANAGE_QR_CODES',
    'MANAGE_GROUPS',
    'MANAGE_ADS',
    'MANAGE_PACKAGES',
    'CUSTOMER_LOYALTY',
    'CUSTOMER_NOTIFICATIONS',
    'CUSTOMER_GIFTS',
    'VIEW_ANALYTICS',
    'EXPORT_DATA',
    'CUSTOM_BRANDING',
    'API_ACCESS',
    'MULTI_LOCATION',
    'MAX_MENU_ITEMS',
    'MAX_ADS',
    'MAX_PACKAGES',
    'MAX_GROUP_MEMBERS'
);


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'RESTAURANT_OWNER',
    'ADMIN'
);


--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'PENDING',
    'ACTIVE',
    'CANCELLED',
    'EXPIRED'
);


--
-- Name: paymentType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."paymentType" AS ENUM (
    'balance',
    'stars_meal',
    'stars_drink'
);


--
-- Name: scanType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."scanType" AS ENUM (
    'drink',
    'meal'
);


--
-- Name: update_plan_subscriber_count(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_plan_subscriber_count() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  IF TG_OP = 'INSERT' THEN
    UPDATE "Plan"
    SET "subscriberCount" = "subscriberCount" + 1
    WHERE id = NEW."planId";
  ELSIF TG_OP = 'DELETE' THEN
    UPDATE "Plan"
    SET "subscriberCount" = GREATEST("subscriberCount" - 1, 0);
  END IF;
  RETURN NULL;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Ad; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Ad" (
    "restaurantId" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    image text NOT NULL,
    category text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL
);


--
-- Name: Ad_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Ad_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Ad_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Ad_id_seq" OWNED BY public."Ad".id;


--
-- Name: Gift; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Gift" (
    "fromUserId" text NOT NULL,
    "toUserId" text NOT NULL,
    "restaurantId" text,
    amount double precision NOT NULL,
    status text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL,
    type public."paymentType" NOT NULL,
    "groupId" text
);


--
-- Name: Gift_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Gift_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Gift_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Gift_id_seq" OWNED BY public."Gift".id;


--
-- Name: GroupJoinRequest; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."GroupJoinRequest" (
    "fromRestaurantId" text NOT NULL,
    "toRestaurantId" text NOT NULL,
    "groupId" text NOT NULL,
    status text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "respondedAt" timestamp(3) without time zone,
    id integer NOT NULL
);


--
-- Name: GroupJoinRequest_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."GroupJoinRequest_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: GroupJoinRequest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."GroupJoinRequest_id_seq" OWNED BY public."GroupJoinRequest".id;


--
-- Name: GroupMembership; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."GroupMembership" (
    "groupId" text NOT NULL,
    "restaurantId" text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Invoice" (
    id text NOT NULL,
    "restaurantId" text NOT NULL,
    "subscriptionId" integer,
    "stripeInvoiceId" text,
    "hostedInvoiceUrl" text,
    "pdfUrl" text,
    "amountDue" double precision NOT NULL,
    "amountPaid" double precision,
    currency text NOT NULL,
    status public."InvoiceStatus" NOT NULL,
    "periodStart" timestamp(3) without time zone,
    "periodEnd" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paymentId" text,
    "paymentMethod" text
);


--
-- Name: MenuCategory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MenuCategory" (
    id integer NOT NULL,
    "restaurantId" text NOT NULL,
    title text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    image text
);


--
-- Name: MenuCategory_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."MenuCategory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: MenuCategory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."MenuCategory_id_seq" OWNED BY public."MenuCategory".id;


--
-- Name: MenuItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MenuItem" (
    id integer NOT NULL,
    "categoryId" integer NOT NULL,
    title text NOT NULL,
    description text,
    price double precision NOT NULL,
    image text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: MenuItem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."MenuItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: MenuItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."MenuItem_id_seq" OWNED BY public."MenuItem".id;


--
-- Name: Notification; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Notification" (
    "userId" text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    type text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL
);


--
-- Name: Notification_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Notification_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Notification_id_seq" OWNED BY public."Notification".id;


--
-- Name: Payment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "restaurantId" text NOT NULL,
    amount double precision NOT NULL,
    method text NOT NULL,
    status text NOT NULL,
    "transactionId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "checkoutSessionId" text,
    currency text,
    "paymentIntentId" text,
    provider text DEFAULT 'stripe'::text,
    "receiptUrl" text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paymentMethod" text
);


--
-- Name: Permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Permission" (
    id integer NOT NULL,
    type public."PermissionType" NOT NULL,
    value integer,
    "isUnlimited" boolean DEFAULT false NOT NULL,
    "planId" integer NOT NULL
);


--
-- Name: Permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Permission_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Permission_id_seq" OWNED BY public."Permission".id;


--
-- Name: Plan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Plan" (
    id integer NOT NULL,
    title text NOT NULL,
    description text,
    price double precision NOT NULL,
    duration integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    currency text,
    "subscriberCount" integer DEFAULT 0 NOT NULL,
    "stripePriceId" text,
    "stripeProductId" text
);


--
-- Name: Plan_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Plan_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Plan_id_seq" OWNED BY public."Plan".id;


--
-- Name: Purchase; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Purchase" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "restaurantId" text,
    amount double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "groupId" text,
    "paymentType" public."paymentType" NOT NULL
);


--
-- Name: Restaurant; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Restaurant" (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    "isGroupMember" boolean DEFAULT false NOT NULL,
    "PayPal_Email" jsonb,
    "paypalAccessToken" text,
    "paypalRefreshToken" text,
    "qrCode_drink" text,
    "qrCode_meal" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    logo text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isSubscriptionActive" boolean DEFAULT false NOT NULL,
    "stripeCustomerId" text
);


--
-- Name: RestaurantGroup; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RestaurantGroup" (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "ownerId" text NOT NULL
);


--
-- Name: ScanLog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ScanLog" (
    "userId" text NOT NULL,
    "restaurantId" text NOT NULL,
    type public."scanType" NOT NULL,
    "qrCode" text NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL
);


--
-- Name: ScanLog_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."ScanLog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ScanLog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."ScanLog_id_seq" OWNED BY public."ScanLog".id;


--
-- Name: StarsTransaction; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."StarsTransaction" (
    "userId" text NOT NULL,
    "restaurantId" text NOT NULL,
    type public."scanType" NOT NULL,
    stars_drink integer DEFAULT 0 NOT NULL,
    stars_meal integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL
);


--
-- Name: StarsTransaction_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."StarsTransaction_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: StarsTransaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."StarsTransaction_id_seq" OWNED BY public."StarsTransaction".id;


--
-- Name: Subscription; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Subscription" (
    id integer NOT NULL,
    "restaurantId" text NOT NULL,
    "planId" integer NOT NULL,
    "startDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    status public."SubscriptionStatus" DEFAULT 'PENDING'::public."SubscriptionStatus" NOT NULL,
    "paymentId" text,
    "paymentMethod" text,
    "transactionRef" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "paymentStatus" text,
    "stripeCurrentPeriodEnd" timestamp(3) without time zone,
    "stripeCurrentPeriodStart" timestamp(3) without time zone,
    "stripeCustomerId" text,
    "stripePriceId" text,
    "stripePriceObject" jsonb,
    "stripeStatus" text,
    "stripeSubscriptionId" text
);


--
-- Name: Subscription_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Subscription_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Subscription_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Subscription_id_seq" OWNED BY public."Subscription".id;


--
-- Name: TopUp; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."TopUp" (
    "userId" text NOT NULL,
    "restaurantId" text NOT NULL,
    amount double precision NOT NULL,
    bonus double precision NOT NULL,
    "totalBalanceAdded" double precision NOT NULL,
    method text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL,
    "planId" integer
);


--
-- Name: TopUpPackage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."TopUpPackage" (
    "restaurantId" text NOT NULL,
    name text NOT NULL,
    amount double precision NOT NULL,
    bonus double precision DEFAULT 0 NOT NULL,
    currency text DEFAULT 'EUR'::text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isPublic" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    id integer NOT NULL
);


--
-- Name: TopUpPackage_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."TopUpPackage_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: TopUpPackage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."TopUpPackage_id_seq" OWNED BY public."TopUpPackage".id;


--
-- Name: TopUp_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."TopUp_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: TopUp_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."TopUp_id_seq" OWNED BY public."TopUp".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "fullName" text,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    "refreshToken" text,
    "qrCode" text NOT NULL,
    "firebaseToken" text,
    "isRestaurant" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "emailVerificationCode" text,
    "emailVerificationExpiry" timestamp(3) without time zone,
    "passwordResetCode" text,
    "passwordResetExpiry" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: UserRestaurantBalance; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."UserRestaurantBalance" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "restaurantId" text NOT NULL,
    stars_drink integer DEFAULT 0 NOT NULL,
    stars_meal integer DEFAULT 0 NOT NULL,
    balance double precision DEFAULT 0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: Ad id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Ad" ALTER COLUMN id SET DEFAULT nextval('public."Ad_id_seq"'::regclass);


--
-- Name: Gift id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Gift" ALTER COLUMN id SET DEFAULT nextval('public."Gift_id_seq"'::regclass);


--
-- Name: GroupJoinRequest id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GroupJoinRequest" ALTER COLUMN id SET DEFAULT nextval('public."GroupJoinRequest_id_seq"'::regclass);


--
-- Name: MenuCategory id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuCategory" ALTER COLUMN id SET DEFAULT nextval('public."MenuCategory_id_seq"'::regclass);


--
-- Name: MenuItem id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItem" ALTER COLUMN id SET DEFAULT nextval('public."MenuItem_id_seq"'::regclass);


--
-- Name: Notification id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notification" ALTER COLUMN id SET DEFAULT nextval('public."Notification_id_seq"'::regclass);


--
-- Name: Permission id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Permission" ALTER COLUMN id SET DEFAULT nextval('public."Permission_id_seq"'::regclass);


--
-- Name: Plan id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Plan" ALTER COLUMN id SET DEFAULT nextval('public."Plan_id_seq"'::regclass);


--
-- Name: ScanLog id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ScanLog" ALTER COLUMN id SET DEFAULT nextval('public."ScanLog_id_seq"'::regclass);


--
-- Name: StarsTransaction id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StarsTransaction" ALTER COLUMN id SET DEFAULT nextval('public."StarsTransaction_id_seq"'::regclass);


--
-- Name: Subscription id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subscription" ALTER COLUMN id SET DEFAULT nextval('public."Subscription_id_seq"'::regclass);


--
-- Name: TopUp id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TopUp" ALTER COLUMN id SET DEFAULT nextval('public."TopUp_id_seq"'::regclass);


--
-- Name: TopUpPackage id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TopUpPackage" ALTER COLUMN id SET DEFAULT nextval('public."TopUpPackage_id_seq"'::regclass);


--
-- Data for Name: Ad; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Ad" ("restaurantId", title, description, image, category, "createdAt", id) FROM stdin;
\.


--
-- Data for Name: Gift; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Gift" ("fromUserId", "toUserId", "restaurantId", amount, status, "createdAt", id, type, "groupId") FROM stdin;
\.


--
-- Data for Name: GroupJoinRequest; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."GroupJoinRequest" ("fromRestaurantId", "toRestaurantId", "groupId", status, "createdAt", "respondedAt", id) FROM stdin;
2329a0f0-d110-4786-8bf6-2754df1614c0	984a0cbe-bf86-483f-b855-07b6eb546277	7da10051-28d4-4686-939f-65259b57c34c	ACCEPTED	2025-09-12 08:40:15.523	2025-09-12 08:41:27.047	1
\.


--
-- Data for Name: GroupMembership; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."GroupMembership" ("groupId", "restaurantId", "joinedAt") FROM stdin;
7da10051-28d4-4686-939f-65259b57c34c	984a0cbe-bf86-483f-b855-07b6eb546277	2025-09-12 08:41:27.026
\.


--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: MenuCategory; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: MenuItem; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Plan; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Purchase; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Purchase" (id, "userId", "restaurantId", amount, "createdAt", "groupId", "paymentType") FROM stdin;
\.


--
-- Data for Name: Restaurant; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: RestaurantGroup; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."RestaurantGroup" (id, name, description, "ownerId") FROM stdin;
3738b124-96fd-4182-9739-0afeb3e2bf21	haway	some description	c255d9c3-ffdb-4a35-8316-6cd8d456824a
7da10051-28d4-4686-939f-65259b57c34c	ALI HASAN	some description	2329a0f0-d110-4786-8bf6-2754df1614c0
\.


--
-- Data for Name: ScanLog; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ScanLog" ("userId", "restaurantId", type, "qrCode", latitude, longitude, "createdAt", id) FROM stdin;
\.


--
-- Data for Name: StarsTransaction; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."StarsTransaction" ("userId", "restaurantId", type, stars_drink, stars_meal, "createdAt", id) FROM stdin;
\.


--
-- Data for Name: Subscription; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: TopUp; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."TopUp" ("userId", "restaurantId", amount, bonus, "totalBalanceAdded", method, "createdAt", id, "planId") FROM stdin;
\.


--
-- Data for Name: TopUpPackage; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."TopUpPackage" ("restaurantId", name, amount, bonus, currency, description, "isActive", "isPublic", "createdAt", "updatedAt", id) FROM stdin;
c255d9c3-ffdb-4a35-8316-6cd8d456824a	fgfg	50	5	EUR	fg	t	t	2025-09-10 21:11:54.177	2025-09-10 21:11:54.177	1
c255d9c3-ffdb-4a35-8316-6cd8d456824a	الصيف	100	10	EUR	سس	t	t	2025-09-11 06:42:44.407	2025-09-11 09:27:03.293	2
8ca474c3-51ad-49a3-8d09-5de917ad06e5	الصيف	50	5	EUR	\N	t	t	2025-09-11 13:34:59.403	2025-09-11 13:35:03.947	3
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: UserRestaurantBalance; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."UserRestaurantBalance" (id, "userId", "restaurantId", stars_drink, stars_meal, balance, "updatedAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: Ad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Ad_id_seq"', 1, false);


--
-- Name: Gift_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Gift_id_seq"', 1, false);


--
-- Name: GroupJoinRequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."GroupJoinRequest_id_seq"', 1, true);


--
-- Name: MenuCategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."MenuCategory_id_seq"', 4, true);


--
-- Name: MenuItem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."MenuItem_id_seq"', 6, true);


--
-- Name: Notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Notification_id_seq"', 3, true);


--
-- Name: Permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Permission_id_seq"', 51, true);


--
-- Name: Plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Plan_id_seq"', 8, true);


--
-- Name: ScanLog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ScanLog_id_seq"', 1, false);


--
-- Name: StarsTransaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."StarsTransaction_id_seq"', 1, false);


--
-- Name: Subscription_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Subscription_id_seq"', 15, true);


--
-- Name: TopUpPackage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."TopUpPackage_id_seq"', 3, true);


--
-- Name: TopUp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."TopUp_id_seq"', 1, false);


--
-- Name: Ad Ad_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Ad"
    ADD CONSTRAINT "Ad_pkey" PRIMARY KEY (id);


--
-- Name: Gift Gift_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Gift"
    ADD CONSTRAINT "Gift_pkey" PRIMARY KEY (id);


--
-- Name: GroupJoinRequest GroupJoinRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GroupJoinRequest"
    ADD CONSTRAINT "GroupJoinRequest_pkey" PRIMARY KEY (id);


--
-- Name: GroupMembership GroupMembership_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GroupMembership"
    ADD CONSTRAINT "GroupMembership_pkey" PRIMARY KEY ("groupId", "restaurantId");


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: MenuCategory MenuCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuCategory"
    ADD CONSTRAINT "MenuCategory_pkey" PRIMARY KEY (id);


--
-- Name: MenuItem MenuItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItem"
    ADD CONSTRAINT "MenuItem_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Permission Permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_pkey" PRIMARY KEY (id);


--
-- Name: Plan Plan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_pkey" PRIMARY KEY (id);


--
-- Name: Purchase Purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_pkey" PRIMARY KEY (id);


--
-- Name: RestaurantGroup RestaurantGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RestaurantGroup"
    ADD CONSTRAINT "RestaurantGroup_pkey" PRIMARY KEY (id);


--
-- Name: Restaurant Restaurant_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Restaurant"
    ADD CONSTRAINT "Restaurant_pkey" PRIMARY KEY (id);


--
-- Name: ScanLog ScanLog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ScanLog"
    ADD CONSTRAINT "ScanLog_pkey" PRIMARY KEY (id);


--
-- Name: StarsTransaction StarsTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StarsTransaction"
    ADD CONSTRAINT "StarsTransaction_pkey" PRIMARY KEY (id);


--
-- Name: Subscription Subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_pkey" PRIMARY KEY (id);


--
-- Name: TopUpPackage TopUpPackage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TopUpPackage"
    ADD CONSTRAINT "TopUpPackage_pkey" PRIMARY KEY (id);


--
-- Name: TopUp TopUp_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TopUp"
    ADD CONSTRAINT "TopUp_pkey" PRIMARY KEY (id);


--
-- Name: UserRestaurantBalance UserRestaurantBalance_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRestaurantBalance"
    ADD CONSTRAINT "UserRestaurantBalance_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Invoice_paymentId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Invoice_paymentId_key" ON public."Invoice" USING btree ("paymentId");


--
-- Name: Invoice_restaurantId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Invoice_restaurantId_createdAt_idx" ON public."Invoice" USING btree ("restaurantId", "createdAt");


--
-- Name: Invoice_stripeInvoiceId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Invoice_stripeInvoiceId_key" ON public."Invoice" USING btree ("stripeInvoiceId");


--
-- Name: Invoice_subscriptionId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Invoice_subscriptionId_idx" ON public."Invoice" USING btree ("subscriptionId");


--
-- Name: MenuCategory_restaurantId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "MenuCategory_restaurantId_idx" ON public."MenuCategory" USING btree ("restaurantId");


--
-- Name: Payment_restaurantId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Payment_restaurantId_createdAt_idx" ON public."Payment" USING btree ("restaurantId", "createdAt");


--
-- Name: Payment_transactionId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Payment_transactionId_key" ON public."Payment" USING btree ("transactionId");


--
-- Name: Permission_planId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Permission_planId_idx" ON public."Permission" USING btree ("planId");


--
-- Name: Permission_planId_type_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Permission_planId_type_key" ON public."Permission" USING btree ("planId", type);


--
-- Name: Restaurant_qrCode_drink_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Restaurant_qrCode_drink_key" ON public."Restaurant" USING btree ("qrCode_drink");


--
-- Name: Restaurant_qrCode_meal_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Restaurant_qrCode_meal_key" ON public."Restaurant" USING btree ("qrCode_meal");


--
-- Name: Restaurant_userId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Restaurant_userId_key" ON public."Restaurant" USING btree ("userId");


--
-- Name: Subscription_endDate_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Subscription_endDate_idx" ON public."Subscription" USING btree ("endDate");


--
-- Name: Subscription_paymentId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Subscription_paymentId_key" ON public."Subscription" USING btree ("paymentId");


--
-- Name: Subscription_planId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Subscription_planId_status_idx" ON public."Subscription" USING btree ("planId", status);


--
-- Name: Subscription_restaurantId_endDate_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Subscription_restaurantId_endDate_status_idx" ON public."Subscription" USING btree ("restaurantId", "endDate", status);


--
-- Name: TopUpPackage_restaurantId_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "TopUpPackage_restaurantId_isActive_idx" ON public."TopUpPackage" USING btree ("restaurantId", "isActive");


--
-- Name: TopUpPackage_restaurantId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "TopUpPackage_restaurantId_name_key" ON public."TopUpPackage" USING btree ("restaurantId", name);


--
-- Name: UserRestaurantBalance_userId_restaurantId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UserRestaurantBalance_userId_restaurantId_key" ON public."UserRestaurantBalance" USING btree ("userId", "restaurantId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_qrCode_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_qrCode_key" ON public."User" USING btree ("qrCode");


--
-- Name: Subscription subscription_count_trigger; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER subscription_count_trigger AFTER INSERT OR DELETE ON public."Subscription" FOR EACH ROW EXECUTE FUNCTION public.update_plan_subscriber_count();


--
-- Name: Ad Ad_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Ad"
    ADD CONSTRAINT "Ad_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Gift Gift_fromUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Gift"
    ADD CONSTRAINT "Gift_fromUserId_fkey" FOREIGN KEY ("fromUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Gift Gift_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Gift"
    ADD CONSTRAINT "Gift_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."RestaurantGroup"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Gift Gift_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Gift"
    ADD CONSTRAINT "Gift_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Gift Gift_toUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Gift"
    ADD CONSTRAINT "Gift_toUserId_fkey" FOREIGN KEY ("toUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: GroupJoinRequest GroupJoinRequest_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GroupJoinRequest"
    ADD CONSTRAINT "GroupJoinRequest_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."RestaurantGroup"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: GroupMembership GroupMembership_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GroupMembership"
    ADD CONSTRAINT "GroupMembership_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."RestaurantGroup"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: GroupMembership GroupMembership_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GroupMembership"
    ADD CONSTRAINT "GroupMembership_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Invoice Invoice_paymentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES public."Payment"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Invoice Invoice_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Invoice Invoice_subscriptionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_subscriptionId_fkey" FOREIGN KEY ("subscriptionId") REFERENCES public."Subscription"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MenuCategory MenuCategory_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuCategory"
    ADD CONSTRAINT "MenuCategory_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuItem MenuItem_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItem"
    ADD CONSTRAINT "MenuItem_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."MenuCategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Permission Permission_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Purchase Purchase_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."RestaurantGroup"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Purchase Purchase_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Purchase Purchase_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RestaurantGroup RestaurantGroup_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RestaurantGroup"
    ADD CONSTRAINT "RestaurantGroup_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Restaurant Restaurant_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Restaurant"
    ADD CONSTRAINT "Restaurant_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ScanLog ScanLog_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ScanLog"
    ADD CONSTRAINT "ScanLog_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ScanLog ScanLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ScanLog"
    ADD CONSTRAINT "ScanLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StarsTransaction StarsTransaction_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StarsTransaction"
    ADD CONSTRAINT "StarsTransaction_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StarsTransaction StarsTransaction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StarsTransaction"
    ADD CONSTRAINT "StarsTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Subscription Subscription_paymentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES public."Payment"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Subscription Subscription_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Subscription Subscription_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TopUpPackage TopUpPackage_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TopUpPackage"
    ADD CONSTRAINT "TopUpPackage_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TopUp TopUp_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TopUp"
    ADD CONSTRAINT "TopUp_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."TopUpPackage"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TopUp TopUp_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TopUp"
    ADD CONSTRAINT "TopUp_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TopUp TopUp_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TopUp"
    ADD CONSTRAINT "TopUp_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserRestaurantBalance UserRestaurantBalance_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRestaurantBalance"
    ADD CONSTRAINT "UserRestaurantBalance_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserRestaurantBalance UserRestaurantBalance_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRestaurantBalance"
    ADD CONSTRAINT "UserRestaurantBalance_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

